*:not(dialog){
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.dialog-container{
    height: 100%;
    width:100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    align-items: center;
    text-align: center;
}
dialog{   
    height:200px;
    width: 400px;
    padding: 0px;
    border-radius: 10px;
    border: 2px solid grey; 
}
::backdrop {
    background-image: linear-gradient(
      40deg,
      rgb(187, 45, 2),
      rgb(117, 119, 0),
      rgb(0, 0, 0)
    );
    opacity: 0.9;
  }
.close-dialog{
    width: 80%;
    border-radius: 5px;
    background-color: lightseagreen;  
    padding: 10px;
    font-size: large;
    font-weight: bold;
    color:white ;
    border:none;
}
.close-dialog:active{
    color: black;
}
.close-dialog:hover{
    background-color:rgb(165, 0, 0);
}
.container{
    display: grid;
    grid-template-columns: 20% auto;
    flex:1;
}
.sidebar{
    background-color: lightblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:100px;
}
.first-box{
    padding-top: 50px;
}
#names-button{
    border: none;
    width: 90%;
    padding:5px;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 5px;
}
#names-button:hover{
    font-weight: bolder;
    border: 1px solid black;
    background-color: aquamarine;
}
#names-button:active{
    color: white;
}
.label{
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    font-size: large;
}
#player-one-name,
#player-two-name{
    padding: 5px 0 5px 0;
    font-size: 600;
    width: min(90%, 300px)
}
.player-1,
.player-2{
    margin-top:5px;
    font-size: larger;
}

.header{
    display: flex;
    justify-content: center;
    font-size:x-large;
    padding: 10px 0 10px 0;
    background-color: aquamarine;

}
.main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid black;
    gap: 5px;
    padding: 5px;
    background-color: azure;
}
.turn{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: azure;
    border: 1px solid black;
    width: 300px;
    height: 100px;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 900;
    border: 1px solid red;
    background-color: aquamarine;
    cursor: pointer;
}
.activeStyle{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
}
.start{
    padding: 5px 0 5px 0;
    width: 500px;
    font-size:1rem;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.start:hover{
    background-color: aquamarine;
    border:1px solid rgb(64, 204, 157);
}
.start:active{
    color: goldenrod;
}