.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid black;
    gap: 5px;
    padding: 5px;
    background-color: azure;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: 1px solid red;
    background-color: aquamarine;
    cursor: pointer;
}